&i2c2 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
    zephyr,concat-buf-size = <64>;
    zephyr,flash-buf-max-size = <64>;
};


/ {

	aliases {
		temp-sensor = &bme680;
	};
};

&flash_ext {
    status = "okay";
};

&spi3 {
	status = "okay";
};